<!DOCTYPE html>
<html>

<head>
    <title>SiwOvernight - Homepage</title>
    <link rel="stylesheet" href="/css/stile.css" />
</head>

<body>
    <div class="logo-container">
        <img src="/images/logo-siwovernight.png" class="logo" />
    </div>
    <div class="wrapper">
        <h1>Operazioni</h1>

        <li>
            <div class="navigation">
                <a href="/eventi">Eventi</a>
            </div>
            <div class="navigation">
                <a href="/artisti">Artisti</a>
            </div>
            <div class="navigation">
                <a href="/locali">Locali</a>
            </div>
            <div class="navigation">
                <a href="/search">Cerca</a>
            </div>

            <!-- login/register/logout/profile -->
            <div th:unless="${userDetails}">
                <a th:href="@{/login}">Login</a>
                <a th:href="@{/register}">Registrati</a>
            </div>
            
            <div th:if="${userDetails}">
                <a th:href="@{/logout}">Logout</a>
                <a th:href="@{/utente}">Profilo</a>
            </div>
        </li> 
    </div>
</body>

</html>