<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register | SiwOvernight</title>
    <link rel="stylesheet" href="/css/stile2.css">
</head>
<body>
  <div class="wrapper">
    <form th:action="@{/register}" method="post" enctype="multipart/form-data">
      <h2>Register</h2>

      <div class="input-field">
        <label for="username">Username</label>
        <input type="text" id="username" th:field="*{credenziali.username}" required>
      </div>

      <div class="input-field">
        <label for="password">Password</label>
        <input type="password" id="password" th:field="*{credenziali.password}" required>
      </div>

      <div class="input-field">
        <label for="nome">Nome</label>
        <input type="text" id="nome" th:field="*{utente.nome}" required>
      </div>

      <div class="input-field">
        <label for="cognome">Cognome</label>
        <input type="text" id="cognome" th:field="*{utente.cognome}" required>
      </div>

      <div class="input-field">
        <label for="dataNascita">Data di nascita</label>
        <input type="date" id="dataNascita" th:field="*{utente.dataNascita}" required>
      </div>

      <div class="input-field">
        <label for="immagine">Immagine</label>
        <input type="file" id="immagine" name="immagine" accept="image/*" required>
      </div>

      <button type="submit">Register</button>
    </form>
  </div>
</body>
</html>
