<!DOCTYPE html>
<html>

<head>
    <title>Artisti</title>
    <link rel="stylesheet" href="/css/stile.css" />
</head>

<body>
    <div class="logo-container">
        <a href="/"><img class="logo" src="/images/logo-siwovernight.png" alt="Logo SiwOvernight" /></a>
    </div>

    <div class="wrapper">
        <h1>Artisti:</h1>

        <div class="message" th:if="${artisti == null || artisti.isEmpty()}">
            Non ci sono Artisti nel sistema
        </div>

        <ul class="ricette-list">
            <li class="ricetta-item" th:each="artista : ${artisti}">
                <a th:href="@{'/artisti' + '/' + ${artista.id}}" th:text="${artista.nome}">
                    Nome Artista
                </a>
            </li>
        </ul>

        <!-- Controllo se l'utente è loggato e se è admin -->
        <div th:if="${userDetails}">
            <div class="navigation">
                <a href="/admin/formNewArtista">Aggiungi un nuovo Artista</a>
            </div>
        </div>
        <!-- Messaggio per l'utente non loggato -->
        <div th:unless="${userDetails}">
            <h3>Loggati per avere accesso alle operazioni</h3>
        </div>
        <div class="navigation">
            <a href="/">Torna all'home page</a>
        </div>
    </div>

</body>

</html>
