<!DOCTYPE html>
<html>
<head>
    <title>Artisti</title>
    <link rel="stylesheet" href="/css/stile.css" />
</head>
<body>
    <div><a href="/"><img src="/images/logo-siwovernight.png" width="50%"/></a></div>
    <h1>Artisti:</h1>
	<div th:if="${artisti==null||artisti.isEmpty()}">Non ci sono Artisti nel sistema</div>
	<ul>
	 <li th:each="artista:${artisti}">
	  <a th:href="@{'/artisti' + '/' + ${artista.id}}" th:text="${artista.nome+ ' '+artista.cognome}">Nome Artista Up! 
	 		 (2000)</a>
	 </li>
	</ul>
	<div>
		<a href="/admin/formNewArtista">Aggiungi un nuovo Artista </a>
	</div>
	<div>
        <a href="/">torna all'home page</a>
    </div>
</body>
</html>
