<!DOCTYPE html>
<html>

<head>
    <title>Artista</title>
    <link rel="stylesheet" href="/css/stile.css" />
</head>

<body>
    <div class="logo-container">
        <a href="/"><img class="logo" src="/images/logo-siwovernight.png" alt="Logo SiwOvernight" /></a>
    </div>
    
    <div class="wrapper" th:object="${artista}">
        <div th:if="${artista.getFirstImmagine() != null}">
            <img th:src="'data:image/jpeg;base64,' + ${artista.getFirstImmagine().getBase64()}" alt="Immagine Artista" class="artist-image"/>
        </div>
        
        <h1 th:text="${artista.nome}">Nome</h1>
        
        <div class="message">
            Data di nascita: <span th:text="${artista.dataNascita}">2000</span>
        </div>
        
        <div>
            <h3>Eventi</h3>
            <div th:if="${#lists.isEmpty(artista.eventi)}">
                <p>Non ci sono attualmente eventi per questo artista</p>
            </div>
            <ul class="evento-list" th:unless="${#lists.isEmpty(artista.eventi)}">
                <li class="evento-item" th:each="evento : ${artista.eventi}">
                    <span th:text="${evento.nome}">Nome Evento</span>
                </li>
            </ul>
        </div>
        
        <div class="navigation">
            <a th:href="@{/admin/updateArtista/{id}(id=${artista.id})}">Aggiorna dati artista</a>
        </div>
        
        <div class="navigation">
            <a th:href="@{/admin/formNewEvento/{artista_id}(artista_id=${artista.id})}">Aggiungi Evento</a>    
        </div>

        <form class="navigation" th:action="@{/admin/deleteArtista/{id}(id=${artista.id})}" method="post">
            <input type="hidden" name="_method" value="post"> <!-- Simula DELETE -->
            <button type="submit">Elimina artista</button>
        </form>

        <div class="navigation">
            <a th:href="@{/artisti}">Torna alla lista degli artisti</a>    
        </div>
    </div>

</body>

</html>
