<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Eventi</title>
    <link rel="stylesheet" href="/css/stile.css" />
</head>
<body>
    <div class="logo-container">
        <a href="/"><img src="/images/logo-siwovernight.png" class="logo" alt="Logo SiwOvernight" /></a>
    </div>

    <div class="wrapper">
        <h1>Eventi</h1>

        <!-- Messaggio se non ci sono eventi -->
        <div th:if="${eventi == null || eventi.isEmpty()}" class="message">
            Non ci sono Eventi nel sistema
        </div>

        <!-- Lista degli eventi -->
        <ul class="ricette-list">
            <li th:each="evento : ${eventi}" class="ricetta-item">
                <a th:href="@{'/eventi/' + ${evento.id}}" th:text="${evento.titoloEvento}">Titolo Evento</a>
            </li>
        </ul>

        <!-- Controllo se l'utente è loggato e se è admin -->
        <div th:if="${userDetails}">
            <!-- Navigazione per aggiungere nuovi eventi -->
            <div class="navigation">
                <a th:href="@{/admin/formNewEvento}">Aggiungi un nuovo Evento</a>
            </div>
        </div>
        <!-- Messaggio per l'utente non loggato -->
        <div th:unless="${userDetails}">
            <h3>Loggati per avere accesso alle operazioni</h3>
        </div>

        <!-- Link per tornare alla home page -->
        <div class="navigation">
            <a th:href="@{/}">Torna alla home page</a>
        </div>
    </div>
</body>
</html>
