<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aggiungi Locale</title>
    <link rel="stylesheet" href="/css/stile2.css">
</head>
<body>
    <div class="wrapper">
        <h1>Aggiungi Nuovo Locale</h1>
        <form th:action="@{/admin/addLocale}" th:object="${locale}" method="post">
            <div class="input-field">
                <label for="nomeLocale">Nome Locale:</label>
                <input type="text" th:field="*{nomeLocale}" required />
            </div>
            <div class="input-field">
                <label for="indirizzo">Indirizzo:</label>
                <input type="text" th:field="*{indirizzo}" required />
            </div>
            <div class="input-field">
                <label for="descrizione">Descrizione:</label>
                <textarea th:field="*{descrizione}" required></textarea>
            </div>
            <button type="submit">Aggiungi Locale</button>
        </form>
    </div>
</body>
</html>
