<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aggiungi Evento</title>
</head>
<body>
    <h1>Aggiungi Nuovo Evento</h1>
    <form th:action="@{/admin/newEvento/{localeId}(localeId=${locale.id})}" method="post" enctype="multipart/form-data" th:object="${evento}">
        <div>
            <label for="titoloEvento">Nome Evento:</label>
            <input type="text" id="titoloEvento" th:field="*{titoloEvento}" required>
        </div>
        <div>
            <label for="dataEvento">Data Evento:</label>
            <input type="date" id="dataEvento" th:field="*{dataEvento}" required>
        </div>
        <div>
            <label for="descr">Descrizione:</label>
            <textarea id="descr" th:field="*{descr}" required></textarea>
        </div>
        <div>
            <label for="immagine">Aggiungi Immagine:</label>
            <input type="file" id="immagine" name="immagine" accept="image/*">
        </div>
        <button type="submit">Aggiungi Evento</button>
    </form>
</body>
</html>
