<!DOCTYPE html>
<html>
<head>
	<title>Cerca</title>
	<link rel="stylesheet" href="/css/stile.css" />
</head>

<body>
	<div><img src="/images/logo-siwovernight.png" width="50%" /></div>
	<h1>Cerca</h1>
	<div>
        <form th:action="@{/searchArtista}" method="post">
            <label for="nomeArtista">Cerca Artista:</label>
            <input type="text" id="nomeArtista" name="nome" required>
            <button type="submit">Cerca</button>
        </form>
    </div>
	<div>
        <form th:action="@{/searchEvento}" method="post">
            <label for="nomeEvento">Cerca Evento:</label>
            <input type="text" id="nomeEvento" name="nome" required>
            <button type="submit">Cerca</button>
        </form>
    </div>
    <div>
        <a th:href="@{/}">torna alla home page</a>    
    </div>
</body>

</html>