<!DOCTYPE html>

<head>
    <title>Locale Details</title>
</head>


<body>
    <h1>Dettagli del Locale</h1>
    
    <!--    QUI DEVO GESTIRE LE FOTO
    <div th:if="${cuoco.immagini}">

    </div>  -->
    
    <!--ATTRIBUTI DEL LOCALE-->
    <div>
        <h2 th:text="${locale.nomeLocale}">Nome Locale</h2>
        <p th:text="'Indirizzo: ' + ${locale.indirizzo}">indirizzo</p>
        <p th:text="'Descr: ' + ${locale.descrizione}">descrizione</p>
    </div>
    
    <!--Eventi che si terranno presso il locale-->
    <div>
        <h3>Prossimamente</h3>
        <div th:if="${#lists.isEmpty(locale.eventi)}">
            <p>Non ci sono attualmente eventi in programma</p>
        </div>
        <!-- se ci sono per ogni evento mostro il titolo (si potrebbe far diventare un ancora) -->
        <ul th:unless="${#lists.isEmpty(locale.eventi)}">
            <li th:each="evento : ${locale.eventi}">
                <span th:text="${evento.titoloEvento}">titolo Evento</span>
            </li>
        </ul>
    </div>

    <!-- user details controlla solo che è stato fatto il login, bisogna controllare se sei admin -->
    <div th:if="${userDetails}">
        <div>
            <a th:href="@{/admin/formNewEvento/{id}(id=${locale.id})}">Aggiungi un evento al Locale</a>    
        </div>
        <div>
            <a th:href="@{/admin/deleteLocale/{id}(id=${locale.id})}">Elimina questo Locale</a>    
        </div>
        <!-- altre operazioni ? -->
    </div>

    <!-- decidere se togliere o meno -->
    <div th:unless="${userDetails}">
        <h3>loggati per avere accesso alle operazioni</h3>
    </div>

    

    <div>
        <a th:href="@{/locali}">torna alla lista dei locali</a>    
    </div>

</body>

</html>